html{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.douze{
    font-size: 1.5em;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 3px;
}
.deux{
    font-size: 2em;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-top: 0px;
}
.un{
    font-size: 2em;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 0px;
}
.onze{
    font-style: italic;
    font-size: 1.5em;
    margin-left: 200px;
}
span{
    background-color: #dddddd;
    padding: 3px;
    border-radius: 0.2%;
}
img{
    margin-left: 20%;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer{
    background-color: blue;
    border-radius: 5px;
    width: 5%;
    padding: 5px;
    margin-left: 1050px;
    text-align: center;
}
footer:hover{
    background-color: rgb(1, 1, 175);
}