html{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.douze{
    font-size: 1.5em;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0.3%;
}
.deux{
    font-size: 2em;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-bottom: 1%;
    padding-right: 0%;
    padding-top: 0%;
}
.un{
    font-size: 2em;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 1.5%;
    margin-right: 0%;
}
.onze{
    font-style: italic;
    font-size: 1.5em;
    margin-left: 2%;
}
span{
    background-color: #dddddd;
    padding: 3px;
    border-radius: 0.2%;
}
img{
  margin-left: 5%;
}
.imput[type="text"]{
  width: 95%;
  margin-top: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
}
a {
  color: white;
  text-decoration: none;
}
#bouton1{
  padding: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #007bff;

  border: none;
  border-radius: 5px;
  color: white;
}

#bouton1:hover {
  background-color: #0056b3;
}
footer{
  background-color: blue;
  width: 5%;
  text-align: center;
  border-radius: 5px;
  padding: 0.9%;
  cursor: pointer;
  margin-left: 70%;
}
footer:hover{
    background-color: rgb(1, 1, 175);
}
#backgroundRideau{
  display: none;
}
header{
  font-style: italic;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #dddddd;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: #007bff;
}
label{
  font-size: 1.3rem;
  font-weight: 700;
}
#nom{
  font-weight: 700;
  color: blue;
  padding: 0.3%;
  width: 30%;
  font-size: 1rem;
}
@media screen and (max-width: 1200px) {
  #conteneur {
    width: 60%;
  }
  img{
    width: 90%;
  }
  footer{
    width: 10%;
  }
}


/* En dessous de 800 px */
@media screen and (max-width: 800px) {
  body {
    width: 90%;
    padding: 10px;
  }
  footer{
    width: 10%;
  }
}