html{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.deux{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-bottom: 1%;
    padding-right: 0%;
    padding-top: 0%;
}
.un{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-right: 0%;
}
h1{
    text-align: center;
    font-size: 1em;
    font-size: bold;
    color: white;
    background: rgb(99, 99, 236);
    margin-top: 0px;
    padding: 10px;
}
table{
    margin-left: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border: 2px solid white;
    text-align: center;
    width: 83%;
}

th{
    border-bottom: 1px solid white;
    padding: 1px;
    color: green;
}
.onze{
    font-style: italic;
    font-size: 1.5rem;
    margin-left: 2%;
}
.douze{
  font-size: 1.5rem;
  margin-left: 2%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  padding: 0.5%;
}
form{
  width: 85%;
  padding-left: 3px;
}
.search-container {
  width: 60%;
}
.search-box {
  width: 60%;
  font-size: 16px;
  border: 2px solid #ccc;
  outline: none;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  opacity: 40%;
}
.imput[type="text"]{
  width: 95%;
  margin-top: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
}
.clear{
    border: 2px solid rgb(236, 173, 0);
    background-color: rgb(236, 173, 0);
    width: 6%;
    border-radius: 1px;
    color: black;
    font-size: 0.7rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 1px;
}
.calculate{
    border: 2px solid rgb(236, 173, 0);
    background-color: rgb(236, 173, 0);
    width: 25%;
    border-radius: 1px;
    color: black;
    font-size: 0.7rem;
    padding: 1px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
.addFood{
    width: 21%;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 1px;
}
.breakfast{
    border: none;
    background-color: rgb(255, 255, 255);
    width: 10%;
    border-radius: 2px;
    color: black;
    font-size: 0.7rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0%;
    margin-top: 0.5%;
    margin-left: 0.5%;
    padding: 1px;
}
.addEntry{
    border: 1px solid rgb(236, 173, 0);
    background-color: rgb(236, 173, 0);
    width: 9%;
    border-radius: 1px;
    color: black;
    font-size: 0.7em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 1px;
}
.trois{
    font-size: 2em;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    font-weight: 700;
}
.hanm{
    color:white;
    background-color: #1d1c36;
    width: 50%;
    margin-left: 9%;
    padding-left: 70px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-top: 20px;
    margin-top: 1%;
}
span{
    background-color: #dddddd;
    padding: 3px;
    border-radius: 2px;
}

body {
  font-family: Arial, sans-serif;
  padding: 2rem;
}



.shem{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    gap: 2px;
}
a {
  color: white;
  text-decoration: none;
}
footer{
  background-color: blue;
  width: 5%;
  text-align: center;
  border-radius: 5px;
  padding: 0.9%;
  cursor: pointer;
  margin-left: 70%;
}
footer:hover{
  background-color: rgb(8, 30, 155);
}

label{
  font-weight: 700;
  font-size: 1rem;
}
  
 /* En dessous de 1200 px */
@media screen and (max-width: 1200px) {
  body {
    width: 60%;
  }
  .shem{
    display: flex;
    flex-direction: column;
  }
  footer{
    width: 10%;
  }
  .calculate{
    width: 40%;
  }
  .clear{
    width: 12%;
  }
  .addFood{
    width: 30%;
  }
  .breakfast{
    width: 20%;
  }
  .addEntry{
    width: 18%;
  }
}


/* En dessous de 800 px */
@media screen and (max-width: 800px) {
  body {
    width: 90%;
  }
  .shem{
    display: flex;
    flex-direction: column;
  }
  footer{
    width: 10%;
  }
  .calculate{
    width: 40%;
  }
  .clear{
    width: 12%;
  }
  .addFood{
    width: 30%;
  }
  .breakfast{
    width: 20%;
  }
  .addEntry{
    width: 18%;
  }
}
